@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inconsolata:wght@200..900&family=Quicksand:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    height: 100%;
    width: 100%;
    font-family: "Inconsolata", "Arial", sans-serif;
    color: white;
}

body {
    height: 100%;
    width: 100%;
    background-color: #0D184C;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 40px;
    color: #f3806c;
}

h4 {
    margin-top: 0;
    font-size: 25px;
    color: #afd06e;
}

.text {
    width: 300px;
}

.radio {
    margin: 10px;
}

div {
    padding: 15px;
    border-radius: 5px;
}

.form {
    margin: auto;
    width: 50%;
    background-color: #89ceff;
    box-shadow: 10px 10px 13px #5b89aa;
}

.top {
    background-color: #3a606e;
    box-shadow: 7px 7px 7px #28424c;
}

.bottom {
    background-color: #3a606e;
    box-shadow: 7px 7px 7px #28424c;
}

#finish {
    background-color: #3a606e;
    box-shadow: 3px 3px 3px #28424c;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
}